rpa==1.48.1  #python-rpa  模拟鼠标键盘操作，控制浏览器、桌面应用等软件，让电脑上操作流程自动化
xlwings  # xlwings实现了Excel中调用Python，python中调用Excel的操作，还支持VBA。
xlrd  # xlrd用于读Excel文件
xlwt  # xlwt用于写Excel文件
python-docx # 对word文件的增删改写、格式修改等
python-pptx # 对PPT的创建和修改
smtplib  # smtplib提供了一种很方便的途径发送电子邮件。它对smtp协议进行了简单的封装。
email # 可以读取、写入和发送电子邮件内容
requests  # 是一个Python HTTP库，在Apache License 2.0下发布。该项目的目标是使HTTP请求更简单，更人性化。
scrapy # 是用Python 实现的一个为了爬取网站数据、提取结构性数据而编写的应用框架
pandas # 是为Python编程语言编写的软件库，用于数据处理和分析。特别是，它提供了用于操作数值表和时间序列的数据结构和操作。
matplotlib # 是 Python 的一个绘图库。它包含了大量的工具，你可以使用这些工具创建各种图形，包括简单的散点图，正弦曲线，甚至是三维图形。
pytesseract # 一个基于 google's Tesseract-OCR 的独立封装包，功能是识别图片文件中文字，并作为返回参数返回识别结果。
opencv  # 全称是Open Source Computer Vision Library，是一个跨平台的计算机视觉库，用于图像处理、分析、机器视觉方面的开源函数库。OpenCV采用C/C++语言编写，python-opencv是Python对OpenCV的封装，可以让Python调用OpenCV的功能。
APScheduler # 实现了一个定时任务框架，提供了非常丰富而且方便易用的定时任务接口，可以实现基于日期、固定时间间隔以及crontab 类型的任务。
tagui==1.48.1